<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="index" ng-controller="indexCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Könyvtár</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#" ng-click="manageBooks()">Manage Books</a></li>
                <li><a href="#" ng-click="inventory()">Manage Inventory</a></li>
                <li><a href="#" ng-click="list()">List Requests</a></li>
                <li><a href="#" ng-click="edit()">Edit User</a></li>
                <li><a href="#" ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <div id="user">
        Welcome
    </div>
    <div id="manageBooks" class="container">
        <form action="http://127.0.0.1:8081/addBook" method="GET">
            <table border="1" class="table">
                <tbody>
                    <tr>
                        <td>Name of the Book:</td>
                        <td><input type="text" name="book"></td>
                    </tr>
                    <tr>
                        <td>Author of the Book:</td>
                        <td><select name="author"><option ng-repeat="x in authors">{{x}}</option></select></td>
                    </tr>
                    <tr>
                        <td>Genre of the Book:</td>
                        <td><input type="text" name="genre"> <input type="submit" value="Submit"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <br>
        <div class="container">
            <form action="http://127.0.0.1:8081/addAuthor" method="GET" class="form-inline">
                <div class="form-group">
                    <label>Name of the Author:</label>
                    <input type="text" class="form-control" name="author" placeholder="Enter name">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="edit">

    </div>
    <div id="manageInventory" class="container"> 
        <div ng-repeat="x in inventorryBooks">
            <table border="1" class="table table-hover">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{ x.name }}</td>
                    </tr>
                    <tr>
                        <td>Genre:</td>
                        <td>{{ x.genre }}</td>
                    </tr>
                    <tr>
                        <td>Author:</td>
                        <td>{{ x.author }}</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>
                            <form action="http://127.0.0.1:8081/addBookInstance" method="GET">
                                <input hidden="hidden" name="name" value="{{ x.name }}" />
                                <input type="number" name="status" value="{{ x.status }}">  <br>
                                <input type="submit" value="Submit">
                            </form>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
    
    <div id="requests">
        <div ng-repeat="x in request" class="container">
            Requests:<br />
            <table border="1" class="table">
                <tr>
                    <td>User Name:</td>
                    <td>{{ x.user }}</td>
                </tr>
                <tr>
                    <td>Book name:</td>
                    <td>{{ x.book }}</td>
                </tr>
                <tr>
                    <td>Lend:</td>
                    <td>
                        <form action="http://127.0.0.1:8081/lend" method="GET">
                            <input hidden="hidden" name="name" value="{{ x.user }}" />
                            <input hidden="hidden" name="book" value="{{x.book}}" />
                            <input type="submit" value="Submit">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-repeat="x in lends" class="container">
            Lends<br />
            <table border="1" class="table">
                <tbody>
                    <tr>
                        <td>User Name:</td>
                        <td>{{ x.name }}</td>
                    </tr>
                    <tr>
                        <td>Book name:</td>
                        <td>{{ x.book }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <script>
        var contentList = [document.getElementById('edit'), document.getElementById('manageBooks'), document.getElementById('manageInventory'), document.getElementById('requests')];
        var index = angular.module("index", []);
        index.controller("indexCtrl", function ($scope, $http) {
            angular.element(document).ready(function () {
                $http.get('user').then(function (response) { document.getElementById('user').innerHTML += response.data.userName; });
                $http.get('authors').then(function (response) { $scope.authors = response.data });
                $http.get('books').then(function (response) { $scope.inventorryBooks = response.data.books });
                $http.get('requests').then(function (response) {
                    $scope.request = response.data.request;
                });
                $http.get('lends').then(function (response) {
                    $scope.lends = response.data.lends;
                })
                for (var i = 0; i < contentList.length; i++) {
                    contentList[i].hidden = true;
                }
                $http.get('page').then(function (response) {
                    document.getElementById(response.data).hidden = false;
                })
            });
            $scope.list = function () {
                for (var i = 0; i < contentList.length; i++) {
                    if (contentList[i].hidden == false)
                        contentList[i].hidden = true;
                }
                document.getElementById('requests').hidden = false;
            }
            $scope.inventory = function () {
                for (var i = 0; i < contentList.length; i++) {
                    if (contentList[i].hidden == false)
                        contentList[i].hidden = true;
                }
                document.getElementById('manageInventory').hidden = false;
            }

            $scope.manageBooks = function () {
                for (var i = 0; i < contentList.length; i++) {
                    if (contentList[i].hidden == false)
                        contentList[i].hidden = true;
                }
                document.getElementById('manageBooks').hidden = false;
            }


            $scope.edit = function () {
                for (var i = 0; i < contentList.length; i++) {
                    if (contentList[i].hidden == false)
                        contentList[i].hidden = true;
                }
                document.getElementById('edit').hidden = false;
                $http.get('edit').then(function (response) {
                    document.getElementById('edit').innerHTML = response.data;
                    $http.get('user').then(function (response) {
                        document.getElementById('userName').value += response.data.userName;
                        document.getElementById('age').value = response.data.age;
                        document.getElementById('name').value = response.data.name;
                    });
                });
            }
            $scope.logout = function () {
                open('logout', "_self");
            }

        });
    </script>
</body>
</html>